extends layout 

block content 
  h1= title
  div.container-fluid
    div.row
      each drinks,index in results
       - let destination = `dispatch(\"/drinks/update?id=${drinks._id}\")` 
       div.col-sm-2(onclick=`buy(${index})`) drinks_name: #{ drinks["drinks_name"]} <br> company_name: #{drinks["company_name"]} <br> drinks_quantity: #{drinks["drinks_quantity"]}<br>
        button.btn( class="btn-primary ml-1", onclick= destination) Update
    <br>
  
  script. 
      function buy(itemNo) 
      {
        alert(`Places to visit ${itemNo+1}`)
      } 

  script.
   function dispatch(path){
    window.location.href=path
   }    