extends layout
block content
 h1= title
 - let drinksid = toShow._id
 - let drinksName = toShow.drinks_name
 - let drinksCompany = toShow.company_name
 - let drinksQuantity = toShow.drinks_quantity
 div
 div.row
 div(class='drinksAttr mr-3') Drinks ID is:
 div #{drinksid}
 div.row
 div(class='drinksAttr mr-3') Drinks Type is:
 div #{drinksName}
 div.row
 div(class='drinksAttr mr-3') Drinks Size is:
 div #{drinksCompany}
 div.row
 div(class='drinksAttr mr-3') Drinks Cost is:
 div #{drinksQuantity}