extends layout 

block content 
  h1= title
  
  div.container-fluid
    a(href='/drinks/create')
      button.btn( class="btn btn-success", type="button", style="align:center") Create 
  <br>    
    div.row
      each drinks,index in results
       - let destination = `dispatch(\"/drinks/update?id=${drinks._id}\")`
       - let deletedest = `dispatch(\"/drinks/delete?id=${drinks._id}\")` 
       - let detailView = `dispatch(\"/drinks/detail?id=${drinks._id}\")`  
       div.col-sm-2(onclick=`buy(${index})`) drinks_name: #{ drinks["drinks_name"]} <br> company_name: #{drinks["company_name"]} <br> drinks_quantity: #{drinks["drinks_quantity"]}<br> <br>
        div(class="btn-group btn-group-sm", role="group" )
          button.btn( class="btn btn-warning", onclick= destination) Update
          button.btn( class="btn btn-danger", onclick= deletedest) Delete
          button.btn( class="btn btn-info", onclick= detailView) Detail View
    <br>
  
  script. 
      function buy(itemNo) 
      {
        alert(`Places to visit ${itemNo+1}`)
      } 

  script.
   function dispatch(path){
    window.location.href=path
   }    